[submodule "storage-service"]
	path = storage-service
	url = git@github.com:team-pandora/storage-service.git
[submodule "api-gateway"]
	path = api-gateway
	url = git@github.com:team-pandora/api-gateway.git
[submodule "fs-crud"]
	path = fs-crud
	url = git@github.com:team-pandora/fs-crud.git
[submodule "drive-ui"]
	path = drive-ui
	url = git@github.com:team-pandora/drive-ui.git
